# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Teams

# Code Maintainers

# Ganza9991

/strings/ @Ganza9991
/tgui/ @Ganza9991
/sound/ @Ganza9991
/code/ @Ganza9991
/mod_celadon/ @Ganza9991
/mod_celadon/_storge_sounds/ @Ganza9991
/**/*.dm @Ganza9991
/**/*.ogg @Ganza9991
/**/*.mp3 @Ganza9991

# Map Maintainers

# SillyMoff

/_maps/_mod_celadon/ @SillyMoff
/**/*.dmm @SillyMoff
/**/*.json @SillyMoff


# Sprite Maintainers

# RalseiDreemuurr

/mod_celadon/_storge_icons/ @RalseiDreemuurr
/**/*.dmi @RalseiDreemuurr

# MAINTAINERS

# MysticalFaceLesS

/tools/ @MysticalFaceLesS
/.github/ @MysticalFaceLesS
/SQL/ @MysticalFaceLesS
/bin/ @MysticalFaceLesS
/html/ @MysticalFaceLesS
/strings/ @MysticalFaceLesS
/tgui/ @MysticalFaceLesS
/code/modules/unit_tests/icons/ @MysticalFaceLesS


# CONTRIBUTORS

