# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Teams

# Code Maintainers

# MrCat15352

/strings/ @MrCat15352
/tgui/ @MrCat15352
/sound/ @MrCat15352
/code/ @MrCat15352
/mod_celadon/ @MrCat15352
/mod_celadon/_storge_sounds/ @MrCat15352
/**/*.dm @MrCat15352
/**/*.ogg @MrCat15352
/**/*.mp3 @MrCat15352

# Map Maintainers

# molnizz

/_maps/_mod_celadon/ @molnizz
/**/*.dmm @molnizz
/**/*.json @molnizz


# Sprite Maintainers

# MysticalFaceLesS

/mod_celadon/_storge_icons/ @MysticalFaceLesS
/**/*.dmi @MysticalFaceLesS

# MAINTAINERS

# MysticalFaceLesS

/tools/ @MysticalFaceLesS
/.github/ @MysticalFaceLesS
/SQL/ @MysticalFaceLesS
/bin/ @MysticalFaceLesS
/html/ @MysticalFaceLesS
/strings/ @MysticalFaceLesS
/tgui/ @MysticalFaceLesS
/code/modules/unit_tests/icons/ @MysticalFaceLesS


# CONTRIBUTORS

#SIC SEMPER TYRANNIS
#/_maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm @MrCat15352
